<% @page_title = "Delete Section" %>
<%= link_to("<< Back to List", subject_page_sections_path(@page.subject, @page), class: 'back-link') %>
<div class="pages delete">
  <h2>Delete Section</h2>

  <%= form_for([@page.subject, @page, @section], method: :delete) do |f| %>
    <p>Are you sure you want to permanantly delete this section?</p>
    <p class="reference-name"><%= @section.name %></p>
    <div class="form-buttons">
      <%= submit_tag("Delete Section") %>
    </div>
  <% end %>
</div>
