<% @page_title = "Edit Section" %>
<%= link_to("Back to List", subject_page_sections_path(@page.subject, @page), class: 'back-link') %>

<div class="sections edit">
  <h2>Update section</h2>

  <%= form_for([@page.subject, @page, @section]) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>
    <div class="form-buttons">
      <%= submit_tag("Update Section") %>
    </div>
  <% end %>
</div>
