<% @page_title = "New Section" %>
<%= link_to("Back to List", subject_page_sections_path(@page.subject, @page), class: 'back-link') %>

<div class="sections new">
  <h2>Create section</h2>

  <%= form_for([@page.subject, @page, @section]) do |f| %>
  <%= render(partial: 'form', locals: {f: f}) %>
    <div class="form-buttons">
      <%= submit_tag("Create Section") %>
    </div>
  <% end %>
</div>
